<div class="container home">
  <div class="left">
    <%= image_tag('left_logo.png', class: 'logo')%>
  </div>
  <div class="right">
    <div class="title">
      法律服务中心
    </div>
    <div class="items">
      <div class="item"><a class="link" href="consult/law">法律咨询</a></div>
      <div class="item"><a class="link" href="consult/register">立案咨询</a></div>
      <div class="item"><a class="link" href="consult/justice">司法确认</a></div>
      <div class="item"><a class="link" href="consult/flow">案件流程查询</a></div>
      <div class="item"><a class="link" href="consult/feedback">举报投诉</a></div>
      <div class="item"><a class="link" href="consult/complain">信访申诉</a></div>
    </div>
  </div>
</div>
