// Place all the styles related to the consult controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.consult{

  padding-bottom: 0 !important;
  .consult-form{
    width: 555px;

    .consult-title{
      text-align: center;
    }
  }
  .type{
    visibility: hidden;
  }

  .control-group{
    margin: 10px;
    .control-label{
      display: inline-block;
      font-size: 36px;
      color: #ffffff;
      min-width: 180px;
    }
    .control-item{
      display: inline-block;
      font-size: 24px;
      width: 350px;
      color: black;
    }

    .control-label-area{
      font-size: 36px;
      color: #ffffff;
      min-width: 180px;
    }
    .control-area{
      font-size: 24px;
      width: 535px;
      height: 160px;
      color: black;
    }
  }

  .consult-show{
    width: 650px;
  }
}

.custom-nav{
  margin-bottom: 0;
  color: #ffffff !important;
  background-color: #244935;
  border: none;
  border-radius: 0;

  .nav-item{
    color: #ffffff !important;
  }
}

.custom-tab{
  color: #ffffff;
}